version: '3.8'

#Database container/service
services:
  postgres: #tên service
    image: postgres #image cuar service, dùng image có sẵn trên DockerHub
    container_name: database
    ports:
      - 6500:5432
    environment:
      POSTGRES_USER: dcnampm
      POSTGRES_PASSWORD: nam.pd193034@
      POSTGRES_DB: server-management-system
    volumes:
      - postgres:/var/lib/postgresql/data
  
  #The application container for the API
  app:
    container_name: sms
    build: 
      context: .
      dockerfile: Dockerfile
    # volumes:
    #   - api:/usr/src/app/
    # restart: always  
    depends_on:
      - postgres  

volumes:
  # api:
  postgres:

#Networks to be created to facilitate communication between containers
# networks:
#   db-network:
#     drive: bridge